@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');

:root {
  --sblack: 25, 28, 36;
}

html,
body {
  background-color: #fff;
  font-size: 16px;
}

.bg-custom-black {
  background-color: #191c25;
}

.bg-custom-blue {
  background-color: #7accc8;
}

.custom-black {
  color: #343f52;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover {
  color: rgba(52, 211, 153, 1);
  transition-duration: 300ms;
}
li a.block:hover {
  color: white;
  transition-duration: 300ms;
  background-color: rgba(52, 211, 153, 1);
}
li a div svg:hover {
  color: rgba(52, 211, 153, 1);
  transition-duration: 300ms;
  background-color: white;
}
a.active {
  color: rgba(52, 211, 153, 1);
  border-bottom-width: 2px;
  border-color: rgba(52, 211, 153, var(--tw-border-opacity));
}
a.active.router-link-exact-active {
  color: rgba(52, 211, 153, 1);
  border-bottom-width: 2px;
  border-color: rgba(52, 211, 153, var(--tw-border-opacity));
}
li a.active.router-link-exact-active {
  color: white;
  transition-duration: 300ms;
  background-color: rgba(52, 211, 153, 1);
}

.price {
  line-height: 150%;
  color: #0b2437;
}
.price--regular,
.price--discounted {
  font-weight: 300;
}
.price--regular {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3e%3cline x1='0' y1='100' x2='100' y2='0' stroke-width='2' stroke='%230B2437'/%3e%3c/svg%3e");
  background-size: 100% 100%;
  color: red;
}
.price--discounted {
  font-weight: 500;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 2px;
}
.line {
  --tw-text-opacity: 1;
  fill: none;
  stroke: rgba(52, 211, 153, var(--tw-text-opacity));
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.dropdown--hide {
  display: none;
}

button.dropdown--button:hover > div.dropdown--hide {
  position: fixed;
  display: block;
}

.dropdown--hide:hover {
  position: fixed;
  display: block;
}

a.button-sft {
  border: 2px solid #191c25;
}

a.button-sft:hover {
  border: 2px solid rgba(52, 211, 153, 1);
  background-color: var(--sblack);
  color: rgba(52, 211, 153, 1);
}

a.button-sft:hover img {
  transition-duration: 300ms;
  filter: invert(25%) sepia(70%) saturate(337%) hue-rotate(93deg)
    brightness(80%) contrast(99%);
}

button.wallet-btn {
  border: 2px solid rgb(var(--sblack)) !important;
  background-color: rgb(var(--sblack)) !important;
}

button.wallet-btn:hover {
  border: 2px solid rgba(52, 211, 153, 1) !important;
  background-color: white !important;
  color: rgba(52, 211, 153, 1) !important;
  transition-duration: 300ms !important;
}

.nav-font {
  color: #191c25;
  font-family: 'Syne', sans-serif;
}

.font-syne {
  font-family: 'Syne', sans-serif;
}

.underline-offset-2	{
  text-underline-offset: 2px;
}

.underline-offset-4	{
  text-underline-offset: 4px;
}

.underline-offset-6	{
  text-underline-offset: 8px;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.8s ease-out, transform 1.4s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}